body {
    font-family: Arial, sans-serif;
}
.btn-primary {
    background-color: #0080FF;
    border-color: #0080FF;
}
.btn-primary:hover {
    background-color: #0066CC;
    border-color: #0066CC;
}
.btn-success {
    background-color: #00B300;
    border-color: #00B300;
}
.btn-success:hover {
    background-color: #009900;
    border-color: #009900;
}
.btn-success:disabled {
    background-color: #CCCCCC;
    border-color: #CCCCCC;
    color: #666666;
}
.text-primary {
    color: #005555 !important;
}
.text-secondary {
    color: #555555 !important;
}
#camera-feed {
    border: 2px solid #0080FF;
    border-radius: 5px;
}